.footer__column-link {
    text-decoration: none;
    color: white;
    transition: opacity .1s linear;
    margin-top: 20px;
    margin-bottom: 16px;
  }

.footer__column-link:hover {
  opacity: 45%;
}