.cards__item {
    margin: 0;
    margin-right: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 240px;
  }

.cards__item:nth-child(3) {
  margin: 0;
}