.resources__logo {
    width: 270px;
    height: 38px;
    margin-right: 0;
    transition: opacity .1s linear;
  }

.resources__logo:hover {
  opacity: 45%;
}

.resources__logo:last-child {
    margin-right: auto;
}