.khan__buy-link {
    line-height: 42px;
    font-size: 30px;
    font-weight: normal;
    margin-left: 48px;
    padding-top: 0;
    text-decoration: none;
    color:#2f80ed;
    transition: opacity .1s linear;
}

.khan__buy-link:hover {
  opacity: 45%;
}